.viewBookContainer {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 16px;
  background-color: #fff;
  padding: 16px;
}
.viewHeader {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.imgAndText {
  display: flex;
}
